body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    /*background: url('https://wallpapers.com/images/featured/fantastic-beasts-djhcjfwnmkd08g8j.jpg') no-repeat center center;*/
    /*background-size: cover;*/
    /*background-color: grey;*/
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
